:root{
    --primary-color: #bfcecb;
    --secondary-color: #285b53;
}

/*General*/
body{
    background: var(--primary-color);
}

.container{
    min-height: 100vh;
}

.main-content{
    min-height: calc(100vh - 9rem);
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*Nav*/
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 9rem;
    gap: 3rem;
}

.nav{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    max-width: 960px;
    min-width: fit-content;
    width: 50%;
}

a{
    text-decoration: none;
    color: black
}

.nav-link:hover{
    border-bottom: black solid 0.2rem;
}

.active{
    border-bottom: black solid 0.2rem;
}

/*Home*/
.banner{
    width: 100%;
    height: calc(100vh - 9rem);
    object-fit: cover;
    object-position: 100% 32%;
}
.full-name-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:4rem;
    margin-top:5rem;
    margin-bottom: 5rem;
}

.date-container{
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}

.button{
    max-width: 400px;
    min-width: fit-content;
    width: 30%;
    height: 4rem;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 5rem;
    color: var(--primary-color);
    text-align: center;
    align-content: center;
}
.card{
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    border:2px solid var(--secondary-color);
    border-radius:10px;
    padding:1rem;
}
/*Scehdule*/
.opener{
    margin-top:4rem;
    margin-bottom:4rem;
}

.location-address-link{
    text-decoration: underline;
}
/*Gallery*/
.gallery-content{
    min-height: calc(100vh - 9rem);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:2rem;
}
.gal-image{
    height: 15rem;
    width: 15rem;
    border-radius:10px;
    border:2px solid var(--secondary-color);
    object-fit: cover;
}